<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<style>
.rightLine {
	border-right: 1px solid black
}

td {
	padding-right: 5px;
	padding-left: 5px
}

.number {
	text-align: center;
}

.tables {
	border-collapse: collapse;
}

th {
	background-color: #A7C942;
	color: #ffffff;
	padding-right: 5px;
	padding-left: 5px
}

tr.odd td {
	color: #000000;
	background-color: #f7ffde;
}
</style>
<title>Person overview</title>
</head>
<body>
	<h1>Persons</h1>
	<p>Total persons: <span th:text="${persons.size()}"/>
      <span th:if="${showOld}">
         (showing all). <a href="?showOld=false">Show unreviewed only.</a>       
      </span>   	
      <span th:unless="${showOld}">
         (showing unreviewed only). <a href="?showOld=true">Show all.</a>       
      </span>
	</p>

    <form method="post">   
	<table class='tables'>
		<tr>
			<th>Name</th>
			<th>No</th>			
			<th>Nationality</th>
			<th>Place of birth</th>
			<th>Birthday</th>
			<th colspan='2'>Date when</th>
			<th>Reviewed</th>			
			<th>Details</th>
		</tr>
		<tr>
			<th/>
			<th/>
			<th/>
			<th/>	
			<th/>			
			<th>Created</th>
            <th>Modified</th>			
			<th/>
			<th/>
		</tr>

		<tr th:each="e,iterStat : ${persons}" th:class="${iterStat.odd}? 'odd'">
		    <td th:text="${e.fullName}"/>
		    <td th:text="${e.no}"/>
		    <td th:text="${e.nationality}"/>
		    <td th:text="${e.placeOfBirth}"/>
		    <td th:text="${#dates.format(e.birthDate, 'dd-MMM-yyyy')}"  />		    
		    
		    <td th:text="${#dates.format(e.created, 'dd-MMM-yyyy HH:mm')}"  />
		    <td th:text="${#dates.format(e.updated, 'dd-MMM-yyyy HH:mm')}"  />		    

			<td>
			<input type="checkbox" 
                name="old" th:value="${e.id}" th:checked="${e.reviewed}" />
			<input type="hidden" 
                name="all" th:value="${e.id}" />
            </td>                            
			<td> <a th:text="Details" th:href="@{'details/' + ${e.id}}"/> </td>
		</tr>
	</table>
	<p>
      <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>    	
	  <input type="submit" value="Update"/>
	</p>
	</form>
	
    <form th:action="@{/logout}" method="post">  
       <p>
         <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>       
         <input type="submit" value="Sign Out"/>
       </p>
    </form>	
</body>
</html>
